ALCHEMY_KEY=
ETHERSCAN_KEY=

TELEGRAM_TOKEN=

ETHEREUM_ISSUANCE_RATIO=5
OPTIMISM_ISSUANCE_RATIO=5

ETHEREUM_ADDRESS_RESOLVER_ADDRESS="0x823bE81bbF96BEc0e25CA13170F5AaCb5B79ba83"
OPTIMISM_ADDRESS_RESOLVER_ADDRESS="0x95A6a3f44a70172E7d50a9e28c85Dfd712756B8C"

DB_CONNECTION=

POSTGRES_PASSWORD=
SYNTHETIX_DB_PASSWORD=
